[submodule "modules/simdjson"]
	path = modules/simdjson
	url = https://github.com/simdjson/simdjson.git
[submodule "modules/spdlog"]
	path = modules/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "modules/asio"]
	path = modules/asio
	url = https://github.com/chriskohlhoff/asio.git
